{
    "presets": [
        ["@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "browsers": ["last 30 versions", "> 2%", "Firefox >= 10", "ie 6-11"]
                }
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true}],
        ["@babel/plugin-transform-runtime", {
            "corejs": 2
        }],
        ["transform-decorators-legacy",{
            "legacy": true
        }]
    ]
}