html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  //font-size: 20px;
}

.datagrid-default-container{
  height: 100%;
  width: 100%;
}

.table-body-container-feelj{
  height: 700px;
  //width: 650px;
  width: auto;
}

.table-body-tabulation{
  height: auto;
  overflow: hidden;
  position: relative;
}
.table-header-line-column{
  //height: auto;
  //justify-content:center;//子元素水平居中
  //align-items:center;//子元素垂直居中
  //display:-webkit-flex;
  overflow: hidden;
  background-color: #f1f1f1;
  position: relative;
  z-index: 999;
}
.table-body-tabulation:hover .text-ellipsis{
  background-color: #f1f1f1;
}
.table-body-tabulation:hover {
  background-color: #f1f1f1;
}

.table-tabulation-cell-line{
  float: left;
  //text-align: center;
  overflow: hidden;
  border: 1px solid #DFDFDF;
}
.one-line-fixed-height{
  line-height: 40px;
  height: 40px;
  -webkit-line-clamp: 1;
}
.height-fill-parant{
  height: 100%;
}
.header-sort-desc{
  //background-color: #a0ff86;
  //left: -15px;
  top: 0;
  position: absolute;
  cursor: pointer;
  //margin-top: 10px;
  opacity: 0;
  //background-color: #dfd33f;
}
.one-sort-sign{
  top: 40%;
  left: 0;
}
.header-sort-desc:hover{
  border: 1px none;
  opacity: 2;
  z-index: 1000;
  //background-color: #ffffff;
  //padding: 2px;
  //background-color: #f1f1f1;
}

.table-header-call{
  font-weight: bold;
  /*position:relative;*/
  /*height: 100%;*/
  //border: 1px solid #DFDFDF ;
  //text-align: right;
  //line-height: 50px;
  //display: inline-block;
  float: left;
  //width: 100px;
  //height: 50px;
  //overflow: hidden;
  //cursor: row-resize;
  //word-wrap:break-word;//内容自适应
  //text-overflow: ellipsis;//超做内容省略
}

.horizontally{
  align-items:center;
  justify-content:center;
  display:-webkit-flex;
}

//右边伸缩
.table-header-right-resize{
  //background: #dfd33f;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: col-resize;
  width: 10px;
  //height: 50px;
  height: 100%;
}
.space-nowrap{
  white-space: nowrap;
}
.word-break-all{
  word-break:break-all;
}
//多余隐藏
.hide-surplus-text{
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #DFDFDF ;
  //margin: 4px 2px;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  overflow : hidden;
  //display: -webkit-box;
  -o-text-overflow: ellipsis; /* for Opera */
  text-overflow: ellipsis; /* for IE */
}

//计算宽度
.textDimensionCalculation {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

.checkbox-header{
  float: left;
  background-color: #a0ff86;
  overflow: hidden;
  margin: auto 0;
  padding-top: 4px;
  width: 30px;
  text-align:center;
  border: 1px solid #DFDFDF ;
  margin: 4px 2px;
  -webkit-box-orient: vertical;
  word-break:break-all;
  overflow : hidden;
  display: -webkit-box;
  -o-text-overflow: ellipsis; /* for Opera */
  text-overflow: ellipsis; /* for IE */
}

.heightRelative{
  position:relative;
}
.heightAbsolute{
  position: absolute;
}

.icon{
  font-size: 23px;
  cursor:pointer;
}

//*---------------------------------*/
.FlexContainer {
  align-items: center;
  //background: hsla(0, 0%, 0%, .1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  //width: 600px;
}

.FlexItem {
  //background: hsla(0, 0%, 0%, .1);
  box-sizing: border-box;
  max-width: 100%;
}

.select-cell-Highlight{
  background-color: #f1f1f1;
}

.cell-header-check-box{
  width: 27px;
  text-align:center;
  box-sizing: border-box;
}

.cell-check-box-disable{
  //color: #f7f7f7;
  opacity: 0.5;
  cursor: not-allowed;
}

.margin-right-left{
  padding-right: 2px;
  padding-left: 2px;
}

.select-text-prohibit{
  -moz-user-select:none; /*火狐*/
  -webkit-user-select:none; /*webkit浏览器*/
  -ms-user-select:none; /*IE10*/
  -khtml-user-select:none; /*早期浏览器*/
  user-select:none;
}

.select-model-panel{
  position: absolute;
  width: 0px;
  height: 0px;
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  border: 1px dashed #0099FF;
  background-color: #C3D5ED;
  z-index: 1000;
  filter: alpha(opacity = 60);
  opacity: 0.6;
}

.fiexd-row-cell-scroll-container{
  //width: 100%;
  //height: 100%;
  //overflow: auto;
  //position: relative;
  //top: 65px;
  //left: 0px;
  //margin-top: 212px;
  //overflow: auto;
}

.parent{
  overflow: auto;
  height: 100%;
  width: 100%;
  //overflow: hidden;
  //height: auto;
  //width: auto;
}

.assistor{
  height: 100%;
  width: 100%;
  //overflow: auto;
  overflow: hidden;
}

.text-overall-situation{
  line-height: 25px;
  font-size: 20px;
}

.text-row-line-sdtandard{
  line-height: 25px;
  font-size: 20px;
  //max-height: 75px;
}

/**
  行可视范围
 */
.line-visual-container{
  overflow: hidden;
  //height: 648px;
  //background-image: linear-gradient(#e66465, #9198e5);
  //height: 100%;
  //position: absolute;
}

.line-fiexd-visual-container{
  //top: 10px;
  overflow: hidden;
  //overflow: auto;
  //height: 598px;
  //overflow: scroll;
  //overflow: auto;
}









