html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.table-body-container-feelj{
  height: 700px;
  //width: 650px;
  width: auto;
}

.table-header-line-column{
  height: 52px;
}
.table-body-tabulation{
  height: 42px;
  width: auto;
}
.table-tabulation-cell-line{
  float: left;
  text-align: center;
  line-height: 40px;
  border: 1px solid #DFDFDF;
  height: 40px;
  width: 100px;
}

.table-header-call{
  position:relative;
  border: 1px solid #DFDFDF ;
  text-align: center;
  line-height: 50px;
  float: left;
  //width: 100px;
  height: 50px;
  overflow: hidden;
  //cursor: row-resize;
  //word-wrap:break-word;//内容自适应
  text-overflow: ellipsis;//超做内容省略
}

//右边伸缩
.table-header-right-resize{
  background: #dfd33f;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: col-resize;
  width: 10px;
  height: 50px;
  line-height: 52px;
}