html, body{
  height: 100%;
  width: 100%;
}
.table-body-container-feelj{
  height: 700px;
  width: 650px;
}
.table-header-line-column{
  height: 52px;
  width: 700px;
}
.table-body-tabulation{
  height: 52px;
  width: auto;
}
.table-tabulation-cell-line{
  float: left;
  text-align: center;
  line-height: 50px;
  border: 1px solid #DFDFDF;
  height: 50px;
  width: 100px;
}

.table-header-call{
  border: 1px solid #DFDFDF ;
  text-align: center;
  line-height: 50px;
  float: left;
  width: 100px;
  height: 50px;
  overflow: hidden;
  //word-wrap:break-word;//内容自适应
  text-overflow: ellipsis;//超做内容省略
}